.episode_container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  display: innline-block;
}

.media_container {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  background-image: image('./images/popcorn.jpg');
  display: block;
}

html {
  background-color: #3A656A;
}

nav {
    background-color: #5A696A;
    line-height: 56px;
}

.episodes {
  display: inline-block;}

footer {
  color: #fff;
  background-color: #4496B2 !important;
  margin-top: 20px;
  padding-top: 20px;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: white;
    display: block;
    padding: 0 10%;
}

.episodes {
  vertical-align: text-top;
  margin-left: auto;
  margin-right: auto;
  padding: 2%;

}

div.cardstyle {
    width: 400px !important;
    height: 600px;
    display: inline-block;
    padding: 20px;
}

img {
  bottom: 50px;
}

.footer {
  display: inline !important;
  list-style-type: none;
  color: white;
}

.description {
  height: 200px !important;
  clear: both;
  color: white;
}

.movieForm {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.button {
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  background-color: #4496B2 !important;
  text-decoration: none;
  color: #fff;
  text-align: center;
  letter-spacing: .5px;
  -webkit-appearance: button;
  cursor: pointer;
}
