.episode_container {
  width: 30%;
  padding: 25px;
  display: block;
}
.media_container {
  border: 1px solid black;
  width: 100%;
  padding: 20px;
  background-image: image('./images/popcorn.jpg');
  display: block;
}

html {
  background-color: white !important;
}

nav {
    color: #fff;
    background-color: #4496B2;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

footer {
  color: #fff;
  background-color: #4496B2 !important;
  margin-top: 20px;
  padding-top: 20px;
}

nav ul a {
    transition: background-color .3s;
    font-size: 1rem;
    color: white;
    display: inline-block;
    padding: 0 15px;
    cursor: pointer;
}

.episodes {
  vertical-align: text-top;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
}

div.cardstyle {
    width: 400px !important;
    height: 600px;
    display: inline-block;
    padding: 20px;
}

img {
  height: 350px;
  width: 350px;
}

.footer {
  display: inline !important;
  list-style-type: none;
  color: white;
}

.description {
  height: 200px !important;
  clear: both;
  color: white;
}

.movieForm {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.comments {
  width: 100%;
  height: 60px;
}
